.bg-light {
  padding: 20px;
  border-right: 1px solid #ddd;
}

h4 {
  margin-bottom: 20px;
}


/* ----------- filter.jsx ------------------*/

.filter-section {
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
}

.filter-section h4 {
  margin-bottom: 15px;
}

.filter-section .card-header {
  cursor: pointer;
}

.filter-section .btn-primary {
  width: 100%;
}


/* ----------- ProductCard.jsx ------------------*/
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% !important;
}

.product-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-brand-image {
  width: 70px; 
  height: auto; 
  margin-bottom: 10px; 
}

.was-price {
  text-decoration: line-through;
  color:#888;
  margin-left: 5px; 
} 

/* ----------- ProductGrid.jsx ------------------*/


.product-list-form {
  position: relative;
  width: 25%;
  margin-left:25%;

}

.product-list-total {
  margin-left:92%;
}

.button-row {
  display: flex;
  justify-content: center; 
 
}

